* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: black;
    background-color:white;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #5F15E0;
    color: white;
    padding: 1.5rem;
    position: relative;
}

header h1 {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
} 


/* header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(27, 7, 59);
    color: white;
    align-items: center;
    padding: 20px;
}*/

/* nav ul{
    display: none;
    list-style: none;
    display: flex;
    gap: 30px;
}  */

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
}

.nav-menu{
    position: fixed;
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 50%;
    text-align: left;
    list-style: none;
    border-radius: 8px;
    padding-left: 30px;
}

.nav-items {
    margin: 16px 0;
}

.nav-menu :hover{
    color: aqua;
}

.nav-menu.active {
    right: 0;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.container h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #1f2937;
    font-weight: bold;
}

#image-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: auto;
}

#image-gallery .image-figure{
    text-align: center;
    border-radius: 8px;
    box-shadow:0 4px 6px rgba(0, 0, 0, 0.1);
}

#image-gallery .temple-image {
    width: 100%;
    height: auto;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    aspect-ratio: 4/3;
    object-fit: cover;
}

#image-gallery .image-caption {
    padding: 1rem;
    font-weight: 500;
    font-size: 1.125rem;
    
}

footer {
    background-color: #5F15E0;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer p {
    font-size: 12px;
}


